In [4]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [13]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [10]:
df.iloc[1].transpose

<bound method IndexOpsMixin.transpose of course_name    Machine Learning
duration                      3
Name: 1, dtype: object>

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?


In pandas, loc and iloc are both used for selecting data from a DataFrame, but they have different ways of indexing and selecting data:

loc:
loc is primarily label-based indexing. It allows you to select data from a DataFrame using labels (row and column names).
When using loc, you specify the row and column labels explicitly. You can use labels to select both rows and columns.
It includes the endpoint when slicing with labels, which means that the final label specified is included in the selection.
Example: df.loc[0, 'course_name'] selects the value at the first row and the 'course_name' column.


iloc:
iloc is integer-based indexing. It allows you to select data from a DataFrame using integer positions (row and column indices).
When using iloc, you specify the row and column indices explicitly. You can use integer indices to select both rows and columns.
It does not include the endpoint when slicing with integer positions, similar to Python's regular slicing. The final index specified is excluded from the selection.
Example: df.iloc[0, 0] selects the value at the first row and the first column.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [15]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [16]:
n=new_df.loc[2]
n

course_name    Big Data
duration              6
Name: 2, dtype: object

In [18]:
ab=new_df.iloc[2]
ab

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Did you observe any difference in both the outputs? If so then explain it.

in iloc previous index is preserved but in loc no previous index is preserved  .

In [1]:
#Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.

In [2]:
column_means = df1.mean()
print(column_means)

column_1    0.421731
column_2    0.382146
column_3    0.507447
column_4    0.385307
column_5    0.580874
column_6    0.494408
dtype: float64

(ii) standard deviation of column, ‘column_2’

In [3]:
column_2_std = df1['column_2'].std()
print(column_2_std)

0.2521685748540114

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [4]:
# Replace the data in the second row of 'column_2' with a string
df1.loc[2, 'column_2'] = 'string_data'

# Try to calculate the mean of 'column_2'
try:
    column_2_mean = df1['column_2'].mean()
    print(column_2_mean)
except Exception as e:
    print(f"Error: {e}")

Error: unsupported operand type(s) for +: 'float' and 'str'

This error occurs because the 'column_2' now contains non-numeric data ('string_data'), and pandas cannot calculate the mean of non-numeric values in a numeric column.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, a window function (also known as a rolling or moving window function) is a powerful tool for performing calculations on a subset of data points within a specified window or moving interval. These functions are commonly used in time-series data analysis, but they can be applied to various types of data. Window functions allow you to perform calculations over a sliding window of data, which can be useful for tasks like computing moving averages, cumulative sums, or other aggregations.

There are several types of window functions in pandas:

1. Rolling Functions
 rolling(): This function is used to create a Rolling object, which can be used to apply various rolling window operations like mean, sum, std, etc.

   Example

   df['rolling_mean'] = df['column'].rolling(window=3).mean()
   
2. Expanding Functions:
   expanding(`: This function is used to create an Expanding object, which calculates a statistic for all data points in the window from the start of the data up to the current point.

   Example:
   
   df['expanding_sum'] = df['column'].expanding().sum()
  

3. Exponentially Weighted Moving Averages (EWMA):
   ewm(): This function is used for exponentially weighted moving average calculations. It assigns different weights to different data points, giving more importance to recent data.

   Example:
 
   df['ewma'] = df['column'].ewm(span=10, adjust=False).mean()


4. Window Functions with Custom Functions
   - You can also apply custom functions using the `apply()` method along with the window functions.

   Example:
  python
   def custom_function(window_data):
       # Your custom logic here
       return result

   df['custom_window'] = df['column'].rolling(window=3).apply(custom_function)


These window functions provide flexibility in performing complex calculations and analyses on rolling or expanding subsets of your data, making them valuable tools in time-series analysis and data manipulation with pandas.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [5]:
import pandas as pd
from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Extract the current month and year
current_month = current_datetime.month
current_year = current_datetime.year

# Print the current month and year
print(f"Current Month: {current_month}")
print(f"Current Year: {current_year}")

Current Month: 9
Current Year: 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [6]:
import pandas as pd

# Function to calculate the difference between two dates
def calculate_time_difference():
    # Prompt the user to enter the first date
    date1_str = input("Enter the first date (YYYY-MM-DD): ")
    
    # Prompt the user to enter the second date
    date2_str = input("Enter the second date (YYYY-MM-DD): ")

    try:
        # Convert the input strings to Pandas datetime objects
        date1 = pd.to_datetime(date1_str)
        date2 = pd.to_datetime(date2_str)

        # Calculate the time difference
        time_difference = date2 - date1

        # Extract days, hours, and minutes from the time difference
        days = time_difference.days
        hours, remainder = divmod(time_difference.seconds, 3600)
        minutes, _ = divmod(remainder, 60)

        # Display the result
        print(f"Time Difference: {days} days, {hours} hours, {minutes} minutes")

    except ValueError:
        print("Invalid date format. Please use the format YYYY-MM-DD.")

# Call the function to calculate the time difference
calculate_time_difference()

Enter the first date (YYYY-MM-DD):  2005-09-06
Enter the second date (YYYY-MM-DD):  2023-09-08

Time Difference: 6576 days, 0 hours, 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [8]:
import pandas as pd

# Function to read CSV file, convert column to categorical, and display sorted data
def process_csv_file():
    # Prompt the user to enter the file path
    file_path = input("Enter the CSV file path: ")

    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Display the columns in the CSV file
        print("Columns in the CSV file:")
        print(df.columns)

        # Prompt the user to enter the column name to convert to categorical
        column_name = input("Enter the column name to convert to categorical: ")

        # Prompt the user to enter the category order (comma-separated)
        category_order = input("Enter the category order (comma-separated, e.g., cat1,cat2,cat3): ")
        category_order = [category.strip() for category in category_order.split(',')]

        # Convert the specified column to categorical with the specified category order
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

        # Sort the DataFrame by the categorical column
        sorted_df = df.sort_values(by=column_name)

        # Display the sorted data
        print("Sorted Data:")
        print(sorted_df)

    except FileNotFoundError:
        print("File not found. Please provide a valid file path.")
    except KeyError:
        print("Column not found in the CSV file.")
    except Exception as e:
        print(f"An error occurred: {str(e)}")

# Call the function to process the CSV file
process_csv_file()

Enter the CSV file path:  landslide_data_original.csv

Columns in the CSV file:
Index(['dates', 'stationid', 'temperature', 'humidity', 'pressure', 'rain',
       'lightavg', 'lightmax', 'moisture'],
      dtype='object')

Enter the column name to convert to categorical:  'temperature'
Enter the category order (comma-separated, e.g., cat1,cat2,cat3):  comma-separated

Column not found in the CSV file.

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.