Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

[[Name, age , gender],[Alice,25,Female],[BOb,30,male],[Claire,27,Female]]

Then, print the DataFrame.

In [3]:
import pandas as pd

data = [
    ["Name", "age", "gender"],
    ["Alice", 25, "Female"],
    ["Bob", 30, "Male"],
    ["Claire", 27, "Female"]
]

df = pd.DataFrame(data[1:], columns=data[0])

print(df)

     Name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [4]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print("\n")

# Example Series
ages = pd.Series([25, 30, 27], name='Age')
print("Series:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


Series:
0    25
1    30
2    27
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head() and tail()
info()
describe()
groupby()
sort_values()
drop()

In [5]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emma'],
    'Age': [25, 30, 27, 22, 28],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Using head() to display the first few rows of the DataFrame
print("First 3 rows of the DataFrame:")
print(df.head(3))

First 3 rows of the DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
import pandas as pd

# Creating individual Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)

# Printing the resulting DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female